.content-wrapper {
  margin-left: 8%;
  margin-right: 8%;
  background-color: #fff;
}

body {
  background-color: rgb(203, 196, 196);
  font-size: 18px;
}

.highlight {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

textarea {
  width: 100%;
}